{% extends 'base.html' %}
{% block content %}

<div class="container sections">
  <h1>Vehicles</h1>
  {% if vehicles %}
    {% for vehicle in vehicles %}
      <div class="col-lg-12">
        <h3>{{ vehicle.name }}</h3>
        <p>Height: {{ vehicle.height }} m</p>
        <p>Diameter: {{ vehicle.diameter }} m</p>
        <p>Mass: {{ vehicle.mass }} kg</p>
        <p>Stages: {{ vehicle.stages }}</p>
        <p>Payload to LEO: {{ vehicle.payload_to_leo }} kg</p>
        <p>Payload to GTO: {{ vehicle.payload_to_gto }} kg</p>
        <p>Payload to Mars: {{ vehicle.payload_to_mars }} kg</p>
      </div>
    {% endfor %}
  {% else %}
    <h3>No vehicles to display</h3>
  {% endif %}
</div>

{% endblock %}
