{% extends 'base.html' %}
{% block content %}

<div class="container sections">
  <h1>Vehicles</h1>
    {% for vehicle in vehicles %}
    <div class="container">
      <div class="col-lg-12">
        <h4>{{ vehicle.name }}</h4>
        <p>{{ vehicle.height }}</p>
        <p>{{ vehicle.diameter }}</p>
        <p>{{ vehicle.mass }}</p>
        <p>{{ vehicle.stages }}</p>
        <p>{{ vehicle.payload_to_leo }}</p>
        <p>{{ vehicle.payload_to_gto }}</p>
        <p>{{ vehicle.payload_to_mars }}</p>
      </div>
    </div>

    {% endfor %}
</div>

{% endblock %}
