{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div id="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>SpaceX</h1>
          <h3>Occupy Mars</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sections">
  <div class="container">
    <div class="row">
      <h3>Vehicles</h3>
      <p>Falcon 9, Falcon Heavy, Mars Vehicle</p>
      <a href="/vehicles/" class="btn btn-default" role="button">Learn more</a>
      <div class="images">
        <img class="img-responsive" src="{% static '/img/vehicles.png' %}" alt="">
      </div>
    </div>
  </div>
</div>


{% endblock %}
