{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container sections">
  <h1>Vision</h1>
  <p>
  SpaceX was founded under the belief that a future where humanity is out
  exploring the stars is fundamentally more exciting than one where we are not.
  Today SpaceX is actively developing the technologies to make this possible,
  with the ultimate goal of enabling human life on Mars.
  </p>
  <img class="img-responsive" src="{% static 'img/vision.jpg' %}" alt="astronauts">
</div>

{% endblock %}
